[alias]
  ad = add
  ba = branch -a
  bd = branch -d
  bm = branch --merged
  bn = branch --no-merged
  br = branch
  ci = commit
  cm = commit -m
  co = checkout
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
  hi = "log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)' --graph --date=relative --decorate --all"
  lo = "log --graph --name-status --pretty=format:'%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset' --date=relative"
  op = "!hub browse"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  rs = reset
  st = status
  sw = show

[color]
  branch = auto
  diff = auto
  grep = auto
  status = auto
  ui = auto

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  ignorecase = false

[github]
  user = (user)

[hub]
  protocol = https

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true
  default = simple

[safe]
  directory = *

[user]
  email = (email)
  name = (name)
